In [1]:
import pandas as pd
import os

In [2]:
# file = os.path.join("Data/201801-citibike-tripdata.csv")
jan18 = pd.read_csv("Data/citibike 0118.csv")
feb18 = pd.read_csv("Data/citibike 0218.csv")
mar18 = pd.read_csv("Data/citibike 0318.csv")
apr18 = pd.read_csv("Data/citibike 0418.csv")
may18 = pd.read_csv("Data/citibike 0518.csv")
jun18 = pd.read_csv("Data/citibike 0618.csv")
jul18 = pd.read_csv("Data/citibike 0718.csv")
aug18 = pd.read_csv("Data/citibike 0818.csv")
sep18 = pd.read_csv("Data/citibike 0918.csv")
oct18 = pd.read_csv("Data/citibike 1018.csv")
nov18 = pd.read_csv("Data/citibike 1118.csv")
dec18 = pd.read_csv("Data/citibike 1218.csv")

In [3]:
jan18["Month"] = "1/1/18"
feb18["Month"] = "2/1/18"
mar18["Month"] = "3/1/18"
apr18["Month"] = "4/1/18"
may18["Month"] = "5/1/18"
jun18["Month"] = "6/1/18"
jul18["Month"] = "7/1/18"
aug18["Month"] = "8/1/18"
sep18["Month"] = "9/1/18"
oct18["Month"] = "10/1/18"
nov18["Month"] = "11/1/18"
dec18["Month"] = "12/1/18"

In [4]:
months = jan18
allMonths = [feb18, mar18, apr18, may18, jun18, jul18, aug18, sep18, oct18, nov18, dec18]
for data in allMonths:
    months = pd.concat([months, data], axis = 0)
months.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,970,50:57.4,07:08.2,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1,1/1/18
1,723,33:30.2,45:33.3,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1,1/1/18
2,496,39:18.3,47:35.2,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1,1/1/18
3,306,40:13.4,45:20.2,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1,1/1/18
4,306,14:51.6,19:57.6,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1,1/1/18

In [5]:
months.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
1016500,734,2018-12-31 23:55:06.9910,2019-01-01 00:07:21.2300,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,379.0,W 31 St & 7 Ave,40.749156,-73.991600,27111,Subscriber,1986,1,12/1/18
1016501,2551,2018-12-31 23:55:44.3070,2019-01-01 00:38:15.7820,3320.0,Central Park West & W 100 St,40.794067,-73.962868,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,16390,Customer,1969,0,12/1/18
1016502,2376,2018-12-31 23:56:52.8500,2019-01-01 00:36:29.2860,427.0,Bus Slip & State St,40.701907,-74.013942,259.0,South St & Whitehall St,40.701221,-74.012342,34398,Subscriber,1979,1,12/1/18
1016503,2758,2018-12-31 23:58:29.2120,2019-01-01 00:44:27.5170,3320.0,Central Park West & W 100 St,40.794067,-73.962868,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,30818,Customer,1969,0,12/1/18
1016504,2459,2018-12-31 23:59:51.0850,2019-01-01 00:40:50.8800,128.0,MacDougal St & Prince St,40.727103,-74.002971,402.0,Broadway & E 22 St,40.740343,-73.989551,34775,Subscriber,1996,2,12/1/18

In [6]:
citibike2018 = months.to_csv("Data/citibike 2018.csv", index = False, header = True)